a.post-content, a.head-menu-list {
  color:rgb(51, 51, 51);
  text-decoration: underline;
}

body {
  background-color: rgb(245, 245, 245);
  font: 400 1.5em/1.38 calluna;
  color: rgb(51, 51, 51);
}

.post-content p,
blockquote p {
  margin-bottom: 1em;
}

.footer-law {
  width: 100%;
  margin: 0 auto;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(51, 51, 51);
}

.footer-navigation {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  font: 400 0.833em/1.38 calluna-sans;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
  color: rgb(51, 51, 51);
}

.head-menu-list {
  width: 80%;
  margin: 0 auto;
  font: 1.083em/1.38 calluna-sans;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 10px;
  color: rgb(51, 51, 51);
}

.head-pagetitle {
  width: 60%;
  margin: 0 auto;
  padding: 5px 5px 35px;
  font: 700 3.583em/1.38 calluna-sans;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: rgb(77, 77, 77);
}

.page-footer {
  width: 62%;
  margin: 0 auto;
}

.head-menu,
.post-container {
  width: 100%;
  margin: 0 auto;
}

.post-content {
  width: 62%;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: justify;
  color: rgb(51, 51, 51);
}

.post-ending {
  width: 62%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(128, 128, 128);
  background-color: rgb(222, 222, 222);
}

.post-footer {
  width: 62%;
  margin: 0 auto;
  padding-bottom: 6px;
  font: 400 0.667em/1.38 calluna-sans;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 1px;
  color: rgb(51, 51, 51);
}

.post-title {
  width: 62%;
  margin: 0 auto;
  padding: 15px;
  font: 700 2em/1.38 calluna-sans;
  text-align: center;
  color: rgb(51, 51, 51);
}

blockquote {
  margin: 0 auto;
  padding-left: 25px;
  border-left: 2px solid rgb(102, 102, 102);
  border-radius: 5px;
  font-size: 1.083em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(102, 102, 102);
}

@media(max-width: 1024px) {
  .head-menu .head-menu-list {
    width: 90%;
  }

  .head-menu .head-pagetitle {
    width: 90%;
    font-size: 2.583em;
  }

  .page-footer,
  .post-container .blockquote,
  .post-container .post-content,
  .post-container .post-ending,
  .post-container .post-footer,
  .post-container .post-title {
    width: 80%;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 1.5em;
  }

  .page-footer,
  .post-container .blockquote,
  .post-container .post-content {
    width: 90%;
  }
}

@media(max-width: 640px) {
  .head-menu .head-menu-list,
  .head-menu .head-pagetitle,
  .post-container .post-footer,
  .post-container .post-title {
    width: 100%;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1.5em;
  }

  .head-menu .head-menu-list {
    font-size: 0.75em;
  }

  .page-footer,
  .post-container .blockquote,
  .post-container .post-content {
    width: 100%;
  }

  .post-container .post-ending {
    width: 90%;
  }

  .post-container .post-footer {
    font-size: 0.5em;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 1.375em;
  }

  .head-menu .head-menu-list {
    font-size: 0.818em;
  }

  .head-menu .head-pagetitle {
    font-size: 1.909em;
  }

  .page-footer .footer-law,
  .page-footer .footer-navigation {
    font-size: 0.727em;
  }

  .post-container .post-content {
    font-size: 22px;
  }

  .post-container .post-footer {
    font-size: 0.545em;
  }

  .post-container .post-title {
    font-size: 1.818em;
  }

  .post-container .blockquote {
    padding-left: 10px;
    font-size: 1.091em;
  }
}