.fluid-span-1 {
  width: 7.2727272727%;
}

.fluid-span-2 {
  width: 16.5454545455%;
}

.fluid-span-3 {
  width: 25.8181818182%;
}

.fluid-span-4 {
  width: 35.0909090909%;
}

.fluid-span-5 {
  width: 44.3636363636%;
}

.fluid-span-6 {
  width: 53.6363636364%;
}

.fluid-span-7 {
  width: 62.9090909091%;
}

.fluid-span-8 {
  width: 72.1818181818%;
}

.fluid-span-9 {
  width: 81.4545454545%;
}

.fluid-span-10 {
  width: 90.7272727273%;
}

.fluid-span-11 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 9.2727272727%;
}

.fluid-offset-2 {
  margin-left: 18.5454545455%;
}

.fluid-offset-3 {
  margin-left: 27.8181818182%;
}

.fluid-offset-4 {
  margin-left: 37.0909090909%;
}

.fluid-offset-5 {
  margin-left: 46.3636363636%;
}

.fluid-offset-6 {
  margin-left: 55.6363636364%;
}

.fluid-offset-7 {
  margin-left: 64.9090909091%;
}

.fluid-offset-8 {
  margin-left: 74.1818181818%;
}

.fluid-offset-9 {
  margin-left: 83.4545454545%;
}

.fluid-offset-10 {
  margin-left: 92.7272727273%;
}

