<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{ page.title }}</title>
  <script type="text/javascript" src="//use.typekit.net/ajd7dau.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% if paginator.total_pages == 1 %}
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
{% else %}
  <link rel="stylesheet" href="../css/standardize.css">
  <link rel="stylesheet" href="../css/index-grid.css">
  <link rel="stylesheet" href="../css/index.css">
{% endif %}
</head>
<body class="body page-index clearfix">
  <div class="menu-container clearfix">
  {% if paginator.total_pages == 1 %}
    <p class="menu-content"><a href="/index.html">/blog&nbsp;</a><br></p>
    <p class="menu-content"><a href="/konyvek.html">/konyvek&nbsp;</a><br></p>
    <p class="menu-content"><a href="/filmek.html">/filmek&nbsp;</a><br></p>
    <p class="menu-content"><a href="/jatekok.html">/jatekok&nbsp;</a><br></p>
    <p class="menu-content"><a href="/archivum.html">/archivum&nbsp;</a><br></p>
    <p class="menu-content"><a href="/rolam.html">/rolam&nbsp;</a><br></p>
  {% else %}
    <p class="menu-content"><a href="../index.html">/blog&nbsp;</a><br></p>
    <p class="menu-content"><a href="../konyvek.html">/konyvek&nbsp;</a><br></p>
    <p class="menu-content"><a href="../filmek.html">/filmek&nbsp;</a><br></p>
    <p class="menu-content"><a href="../jatekok.html">/jatekok&nbsp;</a><br></p>
    <p class="menu-content"><a href="../archivum.html">/archivum&nbsp;</a><br></p>
    <p class="menu-content"><a href="../rolam.html">/rolam&nbsp;</a><br></p>
  {% endif %}
  </div>
  <div class="titel-container clearfix">
    <p class="site-name">{{ site.name }}//</p>
    <p class="page-titel">{{ page.title }}</p>
    <p class="page-description">/{{ page.description }}</p>
  </div>
  <div class="content-container clearfix">
    {{ content }}
  </div>
  <div class="footer-container clearfix">
{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
    <button onClick="window.location='{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}';" class="nav nav-back">elozo</button>
    {% else %}
    <button class="nav nav-back">elozo</button>
  {% endif %}
  {% if paginator.next_page %}
    <button onClick="window.location='{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}';" class="nav nav-forward">kovetkezo</button>
    {% else %}
    <button class="nav nav-forward">kovetkezo</button>
  {% endif %}
{% endif %}
{% if paginator.total_pages == 1 %}
    <p class="copyright-notice"><a href="/jog.html">/minden jog fenntartva.</a></p>
  {% else %}
    <p class="copyright-notice"><a href="../jog.html">/minden jog fenntartva.</a></p>
  {% endif %}
  </div>
</body>
</html>