<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{ page.title }}</title>
  <script type="text/javascript" src="http://use.typekit.net/ajd7dau.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% if paginator.total_pages == 1 %}
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
{% else %}
  <link rel="stylesheet" href="../css/standardize.css">
  <link rel="stylesheet" href="../css/index-grid.css">
  <link rel="stylesheet" href="../css/index.css">
{% endif %}
</head>
<body class="body page-index clearfix">
  <div class="header-container clearfix">
    <div class="header-menu clearfix">
      <p class="header-menu-item">Blog | Konyvek | Filmek | Jatekok | <a href="rolam.html">Rolam</a></p>
    </div>
    <p class="page-title">{{ page.title }}</p>
  </div>
  <div class="post-container clearfix">
    {{ content }}
  </div>
  <div class="page-footer clearfix">
    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
    <div class="paginator-elements"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;&lt; elozo</a>
      {% else %}
    <div class="paginator-elements"><a href="#">&lt;&lt; elozo</a>
      {% endif %}
      {% if paginator.next_page %}
      |<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">kovetkezo &gt;&gt;</a></div>
      {% else %}
      |<a href="#">kovetkezo &gt;&gt;</a></div>
      {% endif %}
    {% endif %}
    {% if paginator.total_pages == 1 %}
    <a href="jog.html" class="copyright-element">Minden jog fenntartva.</a>
    {% else %}
    <a href="../jog.html" class="copyright-element">Minden jog fenntartva.</a>
    {% endif %}
  </div>

  <script src="js/jquery-min.js"></script>
</body>
</html>