<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{ page.title }}</title>
  <script type="text/javascript" src="//use.typekit.net/ajd7dau.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="../../../../css/standardize.css">
  <link rel="stylesheet" href="../../../../css/index-grid.css">
  <link rel="stylesheet" href="../../../../css/index.css">
</head>
<body class="body page-index clearfix">
  <div class="menu-container clearfix">
    <p class="menu-content"><a href="/index.html">/blog&nbsp;</a><br></p>
    <p class="menu-content"><a href="/konyvek.html">/konyvek&nbsp;</a><br></p>
    <p class="menu-content"><a href="/filmek.html">/filmek&nbsp;</a><br></p>
    <p class="menu-content"><a href="/jatekok.html">/jatekok&nbsp;</a><br></p>
    <p class="menu-content"><a href="/archivum.html">/archivum&nbsp;</a><br></p>
    <p class="menu-content"><a href="/rolam.html">/rolam&nbsp;</a><br></p>
  </div>
  <div class="titel-container clearfix">
    <p class="site-name">{{ site.name }}//</p>
    <p class="page-titel">{{ page.title }}</p>
    <p class="page-description">/{{ page.content | strip_html | truncatewords: 5 }}</p>
  </div>
  <div class="content-container clearfix">
    <div class="post-container clearfix">
      <div class="post-content">
        {{ content }}
      </div>
      <p class="post-footer">{{ page.date | date: "%-d %B %Y" }} / {% for tag in page.tags %}#{{ tag }} {% endfor %} / {% for category in page.categories %} @{{ category }} {% endfor %}</p>
      <div class="post-end"></div>
    </div>
  </div>
  <div class="footer-container clearfix">
    <button onClick="window.location='index.hu';" class="nav nav-back">elozo</button>
    <button onClick="window.location='kuruc.info';" class="nav nav-forward">kovetkezo</button>
    <p class="copyright-notice"><a href="/jog.html">/minden jog fenntartva.</a></p>
  </div>
</body>
</html>